@model IEnumerable<Propietario>
<link rel="stylesheet" href="/css/Propietario/Index.css" />
    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="dispaly-4"> Lista de Propietarios</h1>
  

<table id="contratoTable"  class="table">
     <thead>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
      
       
        <th></th>
    </tr>
 </thead>
 <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
          
          
            <td>
                <button class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", new { id = item.id_Propietario })'">Modificar</button> |
<button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delet", new { id = item.id_Propietario })'">Baja</button>
<button class="btn btn-dark" onclick="window.location.href='@Url.Action("Detail", new { id = item.id_Propietario })'">Detalles</button>
           </td>
        </tr>

    }
 
 </tbody>
</table>
<button class="btn btn-warning" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</div>