@model IEnumerable<tpInmobliaria.Models.Pago>
    <link rel="stylesheet" href="/css/Pago/PagoDeCont.css" />


@{
    ViewData["Title"] = "Pagos del Contrato";
}

<div class="text-center">
    <h1 class="display-4">Lista de Pagos del Contrato</h1>

    <table class="table">
        <thead>
            
            <tr>
               
                <th>Número de Pago</th>
                <th>Concepto</th>
                <th>Fecha de Pago</th>
                <th>Importe</th>
                <th>Estado de Pago</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pago in Model)
            {

    var rowStyle = ViewBag.PagoPendientes ? "background-color: red;":"" ;

                <tr>
             
                    <td>@pago.NumeroPago</td>
                    <td>@pago.Concepto</td>
                    <td>@pago.FechaPago.ToString()</td>
                    <td>@pago.Importe</td>
                    <td  style="@rowStyle">@pago.EstadoPago</td>
                    <td> <a asp-action="Edit" asp-route-id="@pago.PagoId" class="btn btn-black">Modificar Pago</a></td>
                </tr>
                }
        </tbody>
    </table>
    
</div>

    <div class="form-row">
      
            <form asp-action="Create">
       @if (Model != null && Model.Any())
    {

        foreach (var pago in Model)
        {
            @if (ViewBag.PagoPendientes)
{
    <div class="alert alert-danger" role="alert">
        ¡Regularice su situación!
    </div>
}else{

         
            
            if (ViewBag.MostrarNuevoPago)
            {
                // El último pago coincide con la fecha de fin del contrato, deshabilitar el botón de "Nuevo Pago"
                <button type="button" class="btn btn-success" disabled>Nuevo Pago</button>
                 
                <p>Vuelva a Detalles de Contrato para renovar o finalizar.</p>

           
            }
            else
            {
                // El último pago no coincide con la fecha de fin del contrato, mostrar el botón de "Nuevo Pago"
                <a asp-action="NuevoPago" asp-route-ContratoId="@pago.ContratoId" class="btn btn-success">Nuevo Pago</a>
            }
}

        break;
        }
    }
    else
    {
      
   <p>No hay datos disponibles.</p>
     
       
          <form asp-action="Create" asp-controller="Pago" method="get">
        <input type="hidden" name="contId" value="@Model.FirstOrDefault()?.ContratoId" />
        <button type="submit" class="btn btn-success">Nuevo Pago</button>
    </form>
        
    }
           
            </form>
        
    </div>

