@model IEnumerable<Inmueble>
   <link rel="stylesheet" href="/css/Inmueble/Index.css" />
    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="dispaly-4"> Lista de Inmuebles</h1>
  

<table id="contratoTable"  class="table">
     <thead>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ambientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Precio)
            
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Disponible)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProprietorName)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.ProprietorLastName)
        </th>
     <th>Acciones</th>
    </tr>
 </thead>
 <tbody>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>

               @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProprietorName)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.ProprietorLastName)
            </td>
            <td>
                <button class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", new { id = item.id_Inmuebles })'">Modificar</button>
<button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delet", new { id = item.id_Inmuebles })'">Baja</button>
<button class="btn btn-dark" onclick="window.location.href='@Url.Action("Detail", new { id = item.id_Inmuebles })'">Detalles</button>
<!--<button class="btn btn-danger" onclick="window.location.href='@Url.Action("MisContratos", new { id = item.id_Inmuebles })'">Contratos</button>
Este boton tiene que esta en detail de inmueble
-->
            </td>
        </tr>
    }
    
</table>
<button class="btn btn-warning" onclick="window.location.href='@Url.Action("Create")'">Alta</button>

 <a asp-action="Index" class="btn btn-23" >Volver al Inicio</a>
</div>