@model IEnumerable<Contract>

    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="dispaly-4"> Lista de Inmuebles</h1>
  

<table class="table">
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.id_Contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Property)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Tenant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_date)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Rental_amount)
            
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Penalize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateC)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_Property)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_Tenant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_date)
            </td>
            <td>

               @Html.DisplayFor(modelItem => item.Rental_amount)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Penalize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateC)
            </td>
       
            <td>
                <button class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", new { id = item.id_Property })'">Modificar</button> |
<button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delet", new { id = item.id_Property })'">Baja</button>

            </td>
        </tr>
    }
</table>
<button class="btn btn-warning" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</div>