@model tpInmobliaria.Models.Inquilino
<link rel="stylesheet" href="/css/Inquilino/Delet.css" />

@{
    ViewData["Title"] = "Inmobiliaria";
}
 <div class="form-container">
<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar el Inquilino?</h3>
<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.id_Inquilino)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.id_Inquilino)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Dni)
        </dd>
      
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Email)
        </dd>
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
    
    <form asp-action="Delet">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success" >Atras</a>
    </form>
</div>
</div>