@model IEnumerable<Inquilino>

    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="dispaly-4"> Lista de Inquilinos</h1>
  

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
      
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
          
          
            <td>
                <button class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", new { id = item.id_Inquilino })'">Modificar</button> |
<button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delet", new { id = item.id_Inquilino })'">Baja</button>

            </td>
        </tr>
    }
</table>
<button class="btn btn-warning" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</div>