@model  tpInmobliaria.Models.Contrato
<link rel="stylesheet" href="/css/Contrato/Create.css" />

@{
    ViewData["Title"] = "Contrato";
}
@{
    var isAdmin = ViewBag.Rol == "Administrador";
}
<hr />
<div class="container">
    <div class="form-container">
        <h1 style="color: rgb(208, 226, 253);">@ViewData["Title"]</h1>
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
       <label asp-for="InmuebleId" class="control-label">Inmueble:</label>
    <select asp-for="InmuebleId" class="form-control">
        <option value="">Seleccione un Inmueble</option>
        @foreach (var property in ViewBag.Inmueble)
        {
            <option value="@property.id_Inmuebles">@property.Direccion -Dueño: @property.ProprietorName - $@property.Precio</option>
        }
    </select>
    <span asp-validation-for="InmuebleId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="InquilinoId" class="control-label">Inquilino:</label>
    <select asp-for="InquilinoId" class="form-control">
        <option value="">Seleccione un inquilino</option>
        @foreach (var tenant in ViewBag.Tenants)
        {
            <option value="@tenant.id_Inquilino">@tenant.Nombre</option>
        }
    </select>
    <span asp-validation-for="InquilinoId" class="text-danger"></span>
</div>

            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label">Fecha de Inicio:</label>
                <input asp-for="Fecha_Inicio" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha_Fin" class="control-label">Fecha de Finalización:</label>
                <input asp-for="Fecha_Fin" class="form-control" />
                <span asp-validation-for="Fecha_Fin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Monto" class="control-label">Monto del Alquiler:</label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado:</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
