@model tpInmobliaria.Models.Contrato
<link rel="stylesheet" href="/css/Contrato/Edit.css" />
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="form-container">
        <h3 class="text-center">Editar Contrato</h3>

        <!--Aca va el form -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_Contrato" class="control-label"></label>
                <input asp-for="id_Contrato" class="form-control" />
                <span asp-validation-for="id_Contrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label">Inmueble:</label>
                <select asp-for="InmuebleId" class="form-control">
                    <option value="">Seleccione una Inmueble</option>
                    @foreach (var property in ViewBag.Inmueble)
                    {
                        <option value="@property.id_Inmuebles">@property.Direccion - @property.ProprietorName</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label">Inquilino:</label>
                <select asp-for="InquilinoId" class="form-control">
                    <option value="">Seleccione un inquilino</option>
                    @foreach (var tenant in ViewBag.Tenants)
                    {
                        <option value="@tenant.id_Inquilino">@tenant.Nombre</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label">Fecha de Inicio:</label>
                <input asp-for="Fecha_Inicio" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha_Fin" class="control-label">Fecha de Finalización:</label>
                <input asp-for="Fecha_Fin" class="form-control" />
                <span asp-validation-for="Fecha_Fin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Monto" class="control-label">Monto del Alquiler:</label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado:</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </form>




        <div class="text-center mt-3">

            <a asp-action="Index">Regresar a la lista</a>
        </div>
    </div>
</div>
