@model IEnumerable<Contrato>
<link rel="stylesheet" href="/css/Contrato/Index.css" />
    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="dispaly-4"> Lista de contratos</h1>
 


<table id="contratoTable"  class="display">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.id_Contrato)</th>
            <th>@Html.DisplayNameFor(model => model.Inmueble)</th>
            <th>@Html.DisplayNameFor(model => model.Inquilino)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha_Inicio)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha_Fin)</th>
            <th>@Html.DisplayNameFor(model => model.Monto)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id_Contrato)</td>
                <td>@Html.DisplayFor(modelItem => item.Inmueble.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Inquilino.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha_Inicio)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha_Fin)</td>
                <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>
                    <button class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", new { id = item.id_Contrato })'">Modificar</button>
                    <button class="btn btn-danger" onclick="window.location.href='@Url.Action("Delet", new { id = item.id_Contrato })'">Baja</button>
                    <button class="btn btn-dark" onclick="window.location.href='@Url.Action("Detail", new { id = item.id_Contrato })'">Detalles</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-warning" onclick="window.location.href='@Url.Action("Create")'">Alta</button>
</div>
