@model tpInmobliaria.Models.Usuario

<link rel="stylesheet" href="/css/Usuario/Delet.css">
@{
    ViewData["Title"] = "Delete";
}
 <div class="form-container">
<h1>Eliminar</h1>

<h3>Esta seguro de eliminar este Usuario?</h3>
<div>
 
    <dl class="row">

        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-5">
				@if (!Model.Avatar.Equals("sin avatar")&& Model.Avatar!=null)
				{
					<img class="foto" src="@Model.Avatar" />
				}
				else
				{
					<h2>Sin avatar</h2>
				}
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.RolNombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId"/>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-text-info">Volver atras</a>
    </form>
</div>
</div>